@using WebApplication3.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}

<div class="d-flex justify-content-center align-items-center login-container">

    <form action="/Account/Login" method="post" class="login-form text-center">
        @Html.AntiForgeryToken()

        <!----mb = margin = 5 , , ,-->
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <h1 class="mb-5 font-weight-light text-uppercase">Login</h1>
        <div class="form-group">
            <input placeholder="Email" class="form-control" data-val="true" data-val-required="The UserName field is required." id="UserName" name="UserName" type="text" value="" />
            @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })

        </div>

        <div class="form-group">
            <input placeholder="Password" class="form-control" data-val="true" data-val-required="The Password field is required." id="Password" name="Password" type="password" />
            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })

        </div>

        <div class="form-check font-weight-light">
            <input data-val="true" data-val-required="The Remember me? field is required." id="RememberMe" name="RememberMe" type="checkbox" value="true" />
            <l>Remember Password</l>
        </div>
        <a href="#">Forgot Password?</a>

        <button type="submit" class="btn mt-4 btn-primary btn-block btn-block ">Sign In</button>
        <p class="font-weight-light">
            Not a member?<a href="#">Register Now</a></i>
        </p>


    </form>
</div>

